page-success-modal {
  .question-card {
    margin-top: 100px;
    background-color: salmon !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 130px;
    text-align: center;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  .custom-button {
    background-color: salmon;
  }
}
